
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg  navbar-light grey-black lighten-5" [containerInside]="false">

        <!-- Navbar brand -->
        <mdb-navbar-brand>
                <a class="navbar-brand" href="#">
                    <img src="../../../../assets/img/logo-black.png" height="30" alt="">
                </a>
            </mdb-navbar-brand>
      
        <!-- Collapsible content -->
        <links>
      
            <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-light" routerLink="">Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" routerLink="/Nosotros">Acerca de nosotros</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link waves-light" routerLink="/Trabajos">Nuestros Trabajos</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" routerLink="/Servicios" >Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" href="http://localhost:2400/auth/login">Iniciar sesion</a>
                    </li>
        
                </ul>
          <!-- Links -->
      
          <ul class="navbar-nav ml-auto nav-flex-icons">
           
            <li class="nav-item">
              <a class="nav-link">
                <div class="btn-group" mdbDropdown>
                  <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                        <a class="nav-link waves-light"routerLink="/" >Inicio<span class="sr-only">(current)</span></a>
                        <a class="nav-link waves-light" routerLink="/Nosotros">Acerca de nosotros</a>
                        <a class="nav-link waves-light" routerLink="/Trabajos">Nuestros Trabajos</a>
                        <a class="nav-link waves-light" routerLink="/Servicios">Servicios</a>
                        <a class="nav-link waves-light" href="http://localhost:4200/auth/login" >Iniciar dsesion</a>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </links>
        <!-- Collapsible content -->
      
      </mdb-navbar>
      <!--/.Navbar-->


      
<router-outlet></router-outlet>