<br>
<br>
<div class="container">

  <div class="card-columns">
    <div class="card" *ngFor="let publicacion of publicaciones">
      <img [src]="publicacion.img" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{publicacion.titulo}}</h5>
        <p class="card-text">{{publicacion.cuerpo}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Ultima actualizaion {{publicacion.updatedAt}}</small>
      </div>
    </div>

  </div>

</div>