<section id="about" class="wow fadeIn ptb ptb-sm-80">
    <div class="container mt-5">

        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <div class="spacer-18"></div>
                <div class="spacer-18"></div>
                <div class="spacer-18"></div>
                <div class="spacer-18">
                </div>
                <h3 class="h4">Acerca de nosotros</h3>
                <div class="spacer-15"></div>
                <p class="lead">Integer tincidunt Cras dapibus. <a class="tipped" data-title="Sample Text"
                        data-tipper-options='{"direction":"top"}'><b>Vivamus elementum</b></a> ultricies nisi vel augue.
                    Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac,
                    enim. Aliquam lorem ante dapibus.</p>
            </div>
        </div>
        <div class="row mt-80">
            <div class="col-md-4 mb-30">
                <img src="../../../../assets/img/logos/logo.jpeg" height="400" width="400" alt="lmb" />
            </div>
            <div class="col-md-4 mb-30 ml-5">
                <h4>SOMOS CREATIVIDAD</h4>
                <div class="spacer-15"></div>
                <p>Somos una empresa virtual donde brindamos de (marketing/publicidad/multi/media/diseño web)donde
                    contrataras freelancers dependiendo de tu necesidad.
                    <p>Poder contar con una pagina donde el usuario pueda darles publicidad y mejor presentación a las
                        empresas de sus productos de una manera confiable y eficaz, de modo que la empresa o persona
                        solo tendrá que contactar un medio para manejar su publicidad.</p>
            </div>
        </div>
    </div>
</section>