
.nuestros{
    display: block;
}

h1{
    padding-left: 400px;
    margin: 10px;
}
h3{
    margin-top: 10px;
}
.spacer-15{
    padding-left:  30px;

}
img{
    margin:50px;
}
h2{
    padding-left: 450px;
    margin: 50px;
}