<mdb-carousel [isControls]="false" [animation]="'slide'">
    <mdb-carousel-item>
        <img class="d-block w-100" src="/assets/img/full/01.PNG" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src="/assets/img/full/02.PNG" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src="/assets/img/full/03.PNG" alt="Third slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src="/assets/img/full/04.PNG" alt="Third slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src="/assets/img/full/05.PNG" alt="Third slide">
    </mdb-carousel-item>
</mdb-carousel>

<div class="spacer-15"></div>   
<!--ACERCA DE NOSOTROS-->

<div class="spacer-15"></div>
<section id="about" class="wow fadeIn ptb ptb-sm-80">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 offset-md-2">
                        <div class="spacer-18"></div>
                        <div class="spacer-18"></div>
                        <div class="spacer-18"></div>
                <div class= "spacer-18">
                </div>
                <br/> <br/>
                <br/> <br/>
                <br/> <br/>
                    <h3 class="h4">Acerca de nosotros</h3>
                    <div class="spacer-15"></div>
                    <p class="lead">La mejor pagina de freelancers. <a class="tipped" data-title="Sample Text" data-tipper-options='{"direction":"top"}'><b>Vive el momento</b></a> Imagina,nosotros creamos el resto,si te caes dos veces entra una sola vez a LMB.</p>
                </div>
            </div>
            <div class="row mt-80">
                <div class="col-md-4 mb-30">
                    <img src="../../../../assets/img/logos/logo.jpeg" height="400" width="400" alt="lmb" />
                </div>
                <div class="col-md-4 mb-30">
                    <br/> <br/>
                    <h4>SOMOS CREATIVIDAD</h4>
                    <div class="spacer-15"></div>
                    <p class="lead">Somos una empresa virtual donde brindamos de (marketing/publicidad/multi/media/diseño web)donde contrataras freelancers dependiendo de tu necesidad.
                    <p class="lead">Poder contar con una pagina donde el usuario pueda darles publicidad y mejor presentación a las empresas de sus productos de una manera confiable y eficaz, de modo que la empresa o persona solo tendrá que contactar un medio para manejar su publicidad.</p>
                </div>
                <!--Nuestros trabajos-->
               
                <br>
                <br>
                <h1>Nuestros Trabajos</h1>
                <div class="container">
                
                  <div class="card-columns">
                    <div class="card">
                      <img [src]="" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                      </div>
                      <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                    </div>
                    
                  </div>
                
                </div>
                <!--Servicios-->
                <h2>Servicios</h2>
                <div class="container">

  <div class="card-columns">
    <div class="card" *ngFor="let publicacion of publicaciones" >
      <img [src]="publicacion.img" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{publicacion.titulo}}</h5>
        <p class="card-text">{{publicacion.cuerpo}}</p>
      </div>
      <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
    </div>
    
  </div>

</div>
  
